.not-found {
  text-align: center;
}

.not-found__message {
  font-size: 24px;
  margin: 1rem 0;
}

.not-found__subtext {
  font-size: 20px;
  margin: 1rem 0;
  color: #bbb;
}

@media screen and (max-width: 700px) {
  .not-found__message {
    font-size: 18px;
  }

  .not-found__subtext {
    font-size: 16px;
  }
}
